@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply text-white p-5 font-bold hover:text-sky-blue;
  }
  .button {
    @apply bg-gradient-to-b from-sky-blue to-pink-rose font-bold border-dark-gray border-2 p-[4px] rounded-full hover:text-white transition duration-500;
  }
  .shadow-box {
    box-shadow: 4px 4px #1e281e;
  }
  .header_keyart::after {
    background: linear-gradient(180deg, hsla(46, 87%, 97%, 0) 0, #fffdf2 100%);
    bottom: 0;
    content: "";
    height: 150px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}
